* {
	--mdc-theme-primary: #111;
	--mdc-theme-secondary: #FF9800;
}
body {
	background-color: #111;
	overflow: hidden;
}

main {
	top: 0px;
	left: 0px;
}

header {
	position: fixed !important;
	z-index: 256 !important;
	background-color: transparent !important;
}

img {
	cursor: move;
}