<!doctype html>
<html>
<head>
<link rel="import" href="nav.html">
<meta name="theme-color" content="#e5e5e5" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link rel="manifest" href="/manifest.json">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<meta charset="utf-8">
<link href="styles.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,200" rel="stylesheet">
<link rel="import" href="nav.html">
<title>AngularJS | James M</title>
</head>
<!-- favicon stuff -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0000">
<!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="JGames101">
  <link rel="apple-touch-icon" href="images/icon/icon128.png">
<!-- Add to Start for Windows -->
<meta name="msapplication-TileImage" content="images/icon/icon128.png">
  <meta name="msapplication-TileColor" content="#ffffff">
<body>
	<h1 id="pageName">AngularJS | James M</h1>
	<div class="content" ng-app="">
		<div class="card" ng-app="">
			<h2>WELCOME</h2>
			<p>An archive for all of my AngularJS experiments as I learn it. Will hopefully soon be filled up with amazing experiments and projects!</p>
			<p>No AngularJS tags are displayed, because everything on this page uses angularJS.</p>
		</div>
		<h2 class="pinned">EXPERIMENTS</h2>
		<div class="card" ng-app="" ng-init="not-title='Notification',not-body='This is a notification.',not-icon='images/icon/icon128.png',not-click='window.alert('You clicked a notification!')'">
		<h2>NOTIFICATION GENERATOR</h2>
		<p>Title: <input type="text" ng-model="notTitle"></p>
		<p>Body: <input type="text" ng-model="notBody"></p>
		<p>Icon: <input type="text" ng-model="notIcon"></p>
		<p>Click event: <input type="text" ng-model="notClick"></p>
		<div class="notificationPreview">
		<img src="{{not-icon}}">
		<span id="notPreviewTitle">{{notTitle}}</span>
		<span id="notPreviewTitle">{{notBody}}</span>
		</div>
		<p><button onclick="javascript:notify({{notTitle}}, {{notBody}}, {{notIcon}}, {{notClick}})">Send Notification!</button></p>
		</div>
		<div class="card" ng-app="" style="width:{{myWidth}}">
			<h2>Size Changing</h2>
			<p>The magical card that changes size!</p>
			<p>Width: <input ng-model="myWidth"></p>
		</div>
		<div class="card" ng-app="" style="background-color:{{myCol}}" ng-init="myCol='seagreen'">
			<h2>COLOURS</h2>
			<p>Card Colour: <input ng-model="myCol" value="{{myCol}}"></p>
		</div>
		<div class="card">
			<h2>ADDITION</h2>
			<p><input type="number" ng-model="input1"> + <input type="number" ng-model="input2"></p>
			<p>The answer is {{input1 + input2}}</p>
		</div>
		<div class="card" ng-app="" ng-init="name='Bob'">
			<h2>ENTER YOUR NAME</h2>
			<p>Name: <input type="text" ng-model="name"></p>
			<p>Hello, <span ng-bind="name"></span>!</p>
		</div>
	</div>
</body>
</html>