@charset "utf-8";
* {-webkit-tap-highlight-color:rgba(0, 0, 0, 0);cursor:inherit;}

#jsMissing {
	background-color: #ff8e75;
	color: black;
	display: block;
}
#player {
	width: 500px;
	height: 410px;
	overflow: hidden;
	position: relative;
	margin: auto;
}
#navbar {
	overflow-y: hidden;
	display: none;
}
.int-player {
	position: absolute;
	top: -51px;
	left: -2060px;
}
.webp {
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}
.no-webp {
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}
body {
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
	font-family: 'Roboto Condensed', sans;
	overflow-x: hidden;
	width: 100%;
	margin: 0px;
	cursor: default;
}
h1 {
	color: white;
	text-align: center;
	font-size: 72px;
	font-weight:200;
}
.content {
	position: relative;
	overflow: hidden;
	margin-left: 64px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	padding-bottom: 64px;
}
.card {
	background-color: white;
	border-radius: 16px;
	text-align: center;
	display: inline-table;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 10px;
	box-shadow: 0 0 16px 0 rgba(0,0,0,0.3);
	min-height: 128px;
	color: black;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
.card.clickable:hover {
	background-color: #fafafa !important;
	box-shadow: 0 0 32px 0 rgba(0,0,0,0.5) !important;
	z-index: 256;
}
h2 {
	font-weight:700;
}
.video {
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
}
.reverseVideo {
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}
.navbtn {
	color: white;
	float: right;
	margin-right: 16px;
}
.homebtn {
	float: none;
}
.pinned {
	color: white;
	margin-left: 32px;
}
.info {
	text-align: left;
	color: black;
	margin-left: 8px;
	vertical-align: bottom;
}
#pageName {
	margin-top: 256px;
	margin-left: 64px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
.colourBackground {
	position: absolute;
	left: 0px;
	top: 348px;
	padding-top: 32px;
	width: 100%;
	background-color: rgba(43, 53, 56, 0);
}
#jsmissing {
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 259;
}
#connecmissing {
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 255;
}
#menuButton {
	width: 32px;
	height: 32px;
	position: fixed;
	z-index: 258;
	top: 16px;
	left: 16px;
	cursor: pointer;
	display: block;
	overflow: hidden;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
#menuButton.reverse {
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
}

.line {
	width: 100%;
	height: 10%;
	margin-bottom: 23.33333333333333%;
	background-color: white;
	border-radius: 5%;
}
#menu {
	background-color: #cb2c36;
	z-index: 257;
	position: fixed;
	margin: none;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 64px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	box-shadow: 0 0 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	overflow-x: hidden;
}

#classicMenu {
	background-color: #cb2c36;
	z-index: 257;
	position: fixed;
	margin: none;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 64px;
	-webkit-transition-duration: 0s; /* Safari */
	transition-duration: 0s;
	overflow-x: hidden;
	background-color: rgba(0, 0, 0, 0) !important;
}

#classicMenu.open {
	background-color: #7ea5ba !important;
}

.menuItem {
	margin-top: 24px;
	font-size: 24px;
	margin-left: 64px;
	text-decoration: none !important;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
#menuTextBox {
	color: white;
}
#menuTitle {
	margin-top: 16px;
	cursor: initial;
}
#menuIconBox {
	position: absolute;
	top: 64px;
	left: 16px;
	width: 32px;
}
.menuIcon {
	margin-bottom: 20px;
	cursor: pointer;
}
#content {
	position: absolute !important;
	width: 100%;
	margin-left: 64px;
	padding-right: 5%;
}
#page {
	position: absolute;
	width: 100%;
	min-height: 100%;
	margin-left: 0px;
	margin-top: 0px;
	top: 0px;
	left: 0px;
	margin-right: 0px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
#photoBtn1 {
	border-top-left-radius: 16px;
}
#photoBtn4 {
	border-top-right-radius: 16px;
}
.imageButtonJS {
	cursor: pointer;
}
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-32 { font-size: 32px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
i {
	overflow: hidden;	
}
#mobileOptions {
	display: none;
}
#tabletOptions {
	display: none;
}
#desktopOptions {
	display: none;
}
.column {
	display: inline-table;
	margin-top: 10px;
	margin-right: 10px;
}
@media (min-width: 0px) and (max-width: 767px) and (orientation:portrait){
	* {
		overflow-x: hidden !important;
	}
	#pageName {
		left: 0px !important;
		margin-left: 0px !important;
		width: 100%;
	}
	.colourBackground {
		background-color: rgb(43, 53, 56);
		min-height: 60%;
		margin-left: 0px;
	}
	.card {
		width: 100%;
		margin-left: 0px;
		border-radius: 12px;
	}
	.video {
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
	}
	.content {
		margin-left: 0px;
	}
	.webp {
		background-attachment: fixed;
		background-position: center;
		background-repeat: repeat;
		background-size: cover !important;
	}
	.no-webp {
		background-attachment: fixed;
		background-position: center;
		background-repeat: repeat;
		background-size: cover !important;
	}
	body {
		background-attachment: fixed;
		background-position: center;
		background-repeat: repeat;
		background-size: cover !important;
		padding: none;
		overflow-x: hidden;
		width: 100%;
		min-height: 100%;
		position: absolute;
	}
	.card {
		font-size: 18px;
	}
	h2 {
		font-size: 32px;
	}
	.open {
		width: 100% !important;
		height: 100% !important;
		display: block !important;
	}
	#menu {
		height: 64px;
		width: 100%;
		overflow: hidden;
		position: absolute;
	}
	#menuIconBox {
		position: relative;
		left: 16px;
		top: 16px;
		width: 100000%;
		margin-left: 48px;
	}
	.menuIcon {
		width: 32px !important;
		height: 32px !important;
		margin-right: 24px;
	}
	#photoBtn1 {
	border-top-left-radius: 12px;
	}
	#photoBtn4 {
	border-top-right-radius: 12px;
	}
	#menuTitle {
		display: none;
	}
	.menuItem:nth-child(2) {
		margin-top: 64px;
	}
	#contentOpen {
		margin-left: 0px;
	}
	#menuButton {
		-ms-transform: rotate(90deg); /* IE 9 */
		-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
		transform: rotate(90deg);
	}
	#menuButton.reverse {
		-ms-transform: rotate(270deg); /* IE 9 */
		-webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
		transform: rotate(270deg);
	}
	#mobileOptions {
		display: initial;
	}
	.menuBottom {
		position: absolute;
		top: initial !important;
		bottom: 0px !important;
	}
	.menuBtnBottom {
		top: initial !important;
		bottom: 16px !important;
		-ms-transform: rotate(270deg) !important; /* IE 9 */
		-webkit-transform: rotate(270deg) !important; /* Chrome, Safari, Opera */
		transform: rotate(270deg) !important;
	}
	.menuBtnBottom.reverse {
		-ms-transform: rotate(90deg) !important; /* IE 9 */
		-webkit-transform: rotate(90deg) !important; /* Chrome, Safari, Opera */
		transform: rotate(90deg) !important;
	}
	#menuIconBox.barOnBottom {
		top: initial !important;
		bottom: -8px !important;
		background-color: inherit !important;
	}
	#menuIconBox {
		position: fixed !important;
	}
	.menuBottom.open {
		height: 75% !important;
		overflow-y: scroll !important;
	}
	.open {
		overflow-y: scroll !important;
	}
	::-webkit-scrollbar {
	  width: 0px;
	}
	#menuTextBox {
		margin-bottom: 32px;
	}
	#pageName {
		margin-left: 0px;
	}
	.column {
		margin-right: 0px !important;
		width: 100% !important;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.card {
		width: 46.25%;
	}
	.column {
		width: 46.25%;
	}
	.wideCard {
		width: 95%;
	}
	.content {
		padding-left: 2.5%;
		padding-right: 2.5%;
	}
	#tabletOptions {
		display: initial;
	}
	::-webkit-scrollbar {
      width: 0px;
	}
	@media (orientation:portrait) {
		#menuIconBox {
		left: 16px;
		top: 16px;
		width: 100000%;
		margin-left: 48px;
		}
		.menuIcon {
			width: 32px !important;
			height: 32px !important;
			margin-right: 24px;
		}
		#menuTitle {
			display: none;
		}
		.menuItem:nth-child(2) {
			margin-top: 64px;
		}
		#contentOpen {
			margin-left: 0px;
		}
		#menuButton {
			-ms-transform: rotate(90deg); /* IE 9 */
			-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
			transform: rotate(90deg);
		}
		#menuButton.reverse {
			-ms-transform: rotate(270deg); /* IE 9 */
			-webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
			transform: rotate(270deg);
		}
		#tabletOptions {
			display: initial;
		}
		#menu {
			top: initial !important;
			bottom: 0px !important;
		}
		#menuButton {
			top: initial !important;
			bottom: 16px !important;
			-ms-transform: rotate(270deg) !important; /* IE 9 */
			-webkit-transform: rotate(270deg) !important; /* Chrome, Safari, Opera */
			transform: rotate(270deg) !important;
		}
		#menuButton.reverse {
			-ms-transform: rotate(90deg) !important; /* IE 9 */
			-webkit-transform: rotate(90deg) !important; /* Chrome, Safari, Opera */
			transform: rotate(90deg) !important;
		}
		#menuIconBox {
			top: initial !important;
			bottom: -8px !important;
			background-color: inherit !important;
		}
		#menuIconBox {
			position: fixed !important;
		}
		#menu.open {
			height: 50% !important;
			overflow-y: scroll !important;
		}
		.open {
			overflow-y: scroll !important;
		}
		#menu {
			height: 64px;
			width: 100%;
			overflow: hidden;
		}
	}
}
@media (min-width: 0px) and (max-width: 1024px) and (orientation:landscape) {
	.wideCard {
		width: 95%;
	}
	.content {
		padding-left: 2.5%;
		padding-right: 2.5%;
	}
	.open {
		width: 50% !important;
	}
	.column {
		width: 46.25%;
	}
	.card {
		width: 46.25%;
	}
}

@media (min-width: 1025px){
	.content {
		padding-left: 5%;
		padding-right: 5%;
	}
	.card {
		width: 32%;
	}
	.open {
		width: 25% !important;
	}
	#contentOpen {
		position: absolute;
		margin-left: 30%;
		width: 100%;
		padding-right: 5%;
	}
	#pageNameCondensed {
		margin-left: 30% !important;
	}
	#desktopOptions {
		display: initial;
	}
	::-webkit-scrollbar {
      width: 8px;
	}
	::-webkit-scrollbar-track {
      background-color: #536368;
	} /* the new scrollbar will have a flat appearance with the set background color */
 
	::-webkit-scrollbar-thumb {
      background-color: #2b3538; 
	  border-radius: 16px;
	} /* this will style the thumb, ignoring the track */
 
	::-webkit-scrollbar-button {
      background-color: #536368;
	  display: none;
	} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
	::-webkit-scrollbar-corner {
      background-color: #536368;
	} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
	.column {
		width: 32%;
	}
}