<!doctype html>
<html>
<head>
<link href="/styles.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,200" rel="stylesheet">
<title>AngularJS | James M</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
</style>
</head>
<body>
	<object id="jsmissing" data="/jsmissing.html" width="100%" height="100%" style="height=100% !important;"></object> <!-- The alert for JavaScript being disabled. -->
	<object id="connecmissing" data="/connecmissing.html" width="100%" height="48px"></object> <!-- This is the alert for internet connection missing. -->
	<div id="menuButton" onclick="javascript:toggleMenu()"> <!-- For opening control menu -->
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</div>
	<div id="menu" style="display:none;">
		<p class="menuItem" id="menuTitle">Pages</p>
		<p class="menuItem" id="homeButton" onclick="javascript:setPage('/')">HOME</p>
		<p class="menuItem" id="updatesButton" onclick="javascript:setPage('/updates/')">UPDATES</p>
		<p class="menuItem" id="angularButton" onclick="javascript:setPage('/angular/')">ANGULAR</p>
		<p class="menuItem" id="javascriptButton" onclick="javascript:setPage('/javascript/')">JAVASCRIPT</p>
		<p class="menuItem" id="html5Button" onclick="javascript:setPage('/html5/')">HTML5</p>
		<p class="menuItem" id="photographyButton" onclick="javascript:setPage('/photos/')">PHOTOGRAPHY</p>
	</div>
	<h1 id="pageName">AngularJS | James M</h1>
	<div class="colourBackground">
	<div class="content" id="content" ng-app="">
		<div class="card" ng-app="">
			<h2>WELCOME</h2>
			<p>An archive for all of my AngularJS experiments as I learn it. Will hopefully soon be filled up with amazing experiments and projects!</p>
			<p>No AngularJS tags are displayed, because everything on this page uses angularJS.</p>
		</div>
		<h2 class="pinned">EXPERIMENTS</h2>
		<div class="card" ng-app="" style="width:{{myWidth}}">
			<h2>Size Changing</h2>
			<p>The magical card that changes size!</p>
			<p>Width: <input ng-model="myWidth"></p>
		</div>
		<div class="card" ng-app="" style="background-color:{{myCol}}" ng-init="myCol='seagreen'">
			<h2>COLOURS</h2>
			<p>Card Colour: <input ng-model="myCol" value="{{myCol}}"></p>
		</div>
		<div class="card">
			<h2>ADDITION</h2>
			<p><input type="number" ng-model="input1"> + <input type="number" ng-model="input2"></p>
			<p>The answer is {{input1 + input2}}</p>
		</div>
		<div class="card" ng-app="" ng-init="name='Bob'">
			<h2>ENTER YOUR NAME</h2>
			<p>Name: <input type="text" ng-model="name"></p>
			<p>Hello, <span ng-bind="name"></span>!</p>
		</div>
	</div>
</div>
</body>
<script src="/global.js"></script>
</html>