#menu {
	background-color: #cb2c36;
	z-index: 257;
	position: fixed !important;
	left: 0px;
	top: 0px;
	height: 64px;
	width: 100%;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	box-shadow: 0 0 16px 0 rgba(0,0,0,0.2);
	overflow-y: hidden;
}
#menuTextBox {
	color: white;
}
#menuTitle {
	margin-top: 16px;
	cursor: initial;
}
#menuIconBox {
	position: absolute;
	top: 16px;
	right: 16px;
	width: auto;
}
.menuItem {
	margin-top: 24px;
	font-size: 24px;
	margin-left: 64px;
	text-decoration: none !important;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.menuIcon {
	margin-left: 32px;
	cursor: pointer;
}
#menu.open {
	height: 100% !important;
}