#menu {
	height: 128px !important;
	width: 100%;
	overflow: hidden;
	position: fixed;
	z-index: 2048;
	-webkit-transition-duration: 0.1s; /* Safari */
	transition-duration: 0.1s;
}

#menuButton {
	display: none;
}

#menu.small {
	margin-top: -64px;
}
