<!doctype html>
<html>
<head>
<script src="/modernizr-webp.js"></script>
<script src="/jquery-3.2.1.min.js"></script>
<link href="/styles.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,200" rel="stylesheet">
<title>AngularJS | James M</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
</style>
</head>
<body onresize="window.location.refresh">
	<noscript>
	<object id="jsmissing" data="/jsmissing.html" width="100%" height="100%" style="z-index:512;height:100%!important;"></object>	<!-- The alert for JavaScript being disabled. -->
	<style>
	* {
		overflow: hidden;
	}
	</style>
</noscript>
	<div id="menuButton" onclick="javascript:toggleMenu()"> <!-- For opening control menu -->
	<i class="material-icons md-light md-32" id="menuToggle">keyboard_arrow_right</i>
</div>
<div id="menu" contextmenu="navigationContext">
	<div id="menuTextBox">
		<p class="menuItem" id="menuTitle">Pages</p>
		<p class="menuItem" id="homeButton" onclick="javascript:setPage('/')">HOME</p>
		<p class="menuItem" id="updatesButton" onclick="javascript:setPage('/updates/')">UPDATES</p>
		<p class="menuItem" id="angularButton" onclick="javascript:setPage('/angular/')">ANGULAR</p>
		<p class="menuItem" id="javascriptButton" onclick="javascript:setPage('/javascript/')">JAVASCRIPT</p>
		<p class="menuItem" id="optionsButton" onclick="javascript:setPage('/jquery/')">JQUERY</p>
		<p class="menuItem" id="html5Button" onclick="javascript:setPage('/html5/')">HTML5</p>
		<p class="menuItem" id="optionsButton" onclick="javascript:setPage('/options/')">OPTIONS</p>
	</div>
	<div id="menuIconBox">
		<i class="material-icons md-light md-32 menuIcon" id="homeIcon" onclick="javascript:setPage('/')">home</i>
		<i class="material-icons md-light md-32 menuIcon" id="updatesIcon" onclick="javascript:setPage('/updates/')">history</i>
		<img class="menuIcon" id="angularIcon" src="/images/angularJS.png" width="30px" onclick="javascript:setPage('/angular/')">
		<img class="menuIcon" id="javascriptIcon" src="/images/javascript.png" width="30px" onclick="javascript:setPage('/javascript/')">
		<img class="menuIcon" id="jqueryIcon" src="/images/jquery.png" width="30px" onclick="javascript:setPage('/jquery/')">
		<i class="material-icons md-light md-32 menuIcon" id="html5Icon" onclick="javascript:setPage('/html5/')">web</i>
		<i class="material-icons md-light md-32 menuIcon" id="optionsIcon" onclick="javascript:setPage('/options/')">settings</i>
	</div>
</div>
	<h1 id="pageName">AngularJS</h1>
	<div class="colourBackground">
	<div class="content" ng-app="">
		<div id="pinned1" class="pinnedDiv">
		<div class="card card1" ng-app="">
			<h2>WELCOME</h2>
			<p>An archive for all of my AngularJS experiments as I learn it. Will hopefully soon be filled up with amazing experiments and projects!</p>
			<p>No AngularJS tags are displayed, because everything on this page uses angularJS.</p>
		</div>
		</div>
		<div id="pinned2" class="pinnedDiv">
		<h2 class="pinned">EXPERIMENTS</h2>
		<div class="card card2" ng-app="" style="width:{{myWidth}}">
			<h2>Size Changing</h2>
			<p>The magical card that changes size!</p>
			<p>Width: <input ng-model="myWidth"></p>
		</div>
		<div class="card card2" ng-app="" style="background-color:{{myCol}}" ng-init="myCol='seagreen'">
			<h2>COLOURS</h2>
			<p>Card Colour: <input ng-model="myCol" value="{{myCol}}"></p>
		</div>
		<div class="card card2">
			<h2>ADDITION</h2>
			<p><input type="number" ng-model="input1"> + <input type="number" ng-model="input2"></p>
			<p>The answer is {{input1 + input2}}</p>
		</div>
		<div class="card card2" ng-app="" ng-init="name='Bob'">
			<h2>ENTER YOUR NAME</h2>
			<p>Name: <input id="nameBox" type="text" ng-model="name"></p>
			<p>Hello, <span ng-bind="name"></span>!</p>
		</div>
		</div>
	</div>
</div>
</body>
<script src="/global.js"></script>
<script src="/angular/javascript.js"></script>
</html>